.registerTitle {
  opacity: 0.7;
}

.submitButton {
  color: white !important;
  background-color: #295aaa !important;
  font-family: "Roboto", sans-serif !important;
  border: none;
  font-size: 20px;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 1px 1px, 1px grey;
  padding: 8px;
}
